.imgcontact{
    height: 800px;
    background-image: url("/uploads/image (4).jpg");
    background-size:cover;
}

.blockcontact{
    display:flex;
    align-items: center;
}

.textcontact{
    color:#FCFCFC;
    font-size:30px;
    text-align: center;
    margin-top:15%;
    margin-left: 25%;
    font-style: italic;
}

.textmerci{
    color:#212529;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.btnG2{
    color:#212529;
    border-color: #212529;
    background-color:#FCFCFC;
    font-size:18px;
    border-radius: 20px;
    width: 190px;
    height: 35px;
    margin-top: -4px;
    font-family: 'Roboto', sans-serif;
    margin-left: 42%;
    opacity:2;
    margin-bottom: 30px;
  }

.btnG2:hover{
    cursor: pointer;
    transform: scale(1.1);
}

