{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/admin/base.css">
{% endblock %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}

<div class="container">
    <h1>Hey ! <br><br> T'as des nouvelles pizz' en poche ? <br> Modifie ton menu !</h1>

      <a href="{{ path('index') }}"><button class="btnRetour"> Modifier</button></a>
      <a href="{{ path('app_logout') }}"> <button class="btnRetour"> Déconnexion</button></a>
</div>

{% endblock %}